## Ignore everything
*

## Whitelist
# 01. Git
!.gitignore
# 02. Directories
!.config
!.config/**
!.local
!.local/**

## Clean-up 
# 01. ZSH
.zcompdump*
# 02. PulseAudio
cookie
# 03. Vim
.config/nvim/autoload
.config/nvim/plugged



